<div class="card bottom" ng-controller="suggestionByFollowsCtrl">
  <div class="card-header">
   <h6>@Quem Seguir?</h6>
  </div>

    <div class="list-group">
      <li ng-repeat="user in users | limitTo: 5" class="list-group-item">
        <img ng-src="{{user.profilePicture}}" class="profile-avatar " style="width: 50px; height: 50px">
        <h6><a ng-href="#/{{user.nickName}}">{{user.nickName}}</a></h6>
        <button class="btn btn-gc" ng-controller="toFollowCtrl" ng-click="toFollowSuggestion(user.id)">
          <i class="fa fa-hand-peace-o" aria-hidden="true"></i> Seguir
        </button>      
      </li>
    </div>

  <div class="card-footer">
    <div class="row" >
      <div class="col-md-12">
        <a href="#/" class="card-link">Ver mais</a>
      </div>
    </div>
  </div>
</div>
</div> 