<div ng-include="'view/login/navbarLogin.html'"></div>

<div class="container">
  <div class="card card-login">
    <div class="card-block">

        <form name="formLogin" class="form-login">
            <div class="form-group">

                <div class="form-group">
                    <label class="label-login">Nickname</label>
                    <div class="input-group">
                        <span class="input-group-addon input-group-addon-login"><i class="fa fa-gamepad" aria-hidden="true"></i></span>
                        <input type="text" id="nickname" class="form-control" placeholder="" required ng-model="login.user.nickName">
                    </div>
                </div>

                <div class="form-group">
                    <label class="label-login">Username</label>
                    <div class="input-group">
                        <span class="input-group-addon input-group-addon-login"><i class="fa fa-user" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" placeholder="" required ng-model="login.username">
                    </div>
                </div>

                <div class="form-group">
                    <label class="label-login">Email</label>
                    <div class="input-group input-login">
                        <span class="input-group-addon input-group-addon-login"><i class="fa fa-address-book-o" aria-hidden="true"></i></span>
                        <input type="email" name="useremail" class="form-control" placeholder="" required ng-model="login.email">
                    </div>
                </div>

                
                <div class="form-group">
                    <label class="label-login">Senha</label>
                    <div class="input-group input-login">
                        <span class="input-group-addon input-group-addon-login"><i class="fa fa-lock" aria-hidden="true"></i></span>
                        <input type="password" class="form-control" placeholder="" required ng-model="login.password">
                    </div>
                </div>

                <button class="btn btn-gc btn-block" type="submit" ng-disabled="formLogin.$invalid" ng-click="createLogin()">Inscrever-se</button>
            </div>
        </form>
      </div>
    </div>
</div>
